extends ../_template



block variables
	- var title = 'Parallax - Forest'



block content
	.wrapper

		.parallax.parallax_yell#parallax
			- var n = 1
			while n < 5
				div(class=`parallax__layer parallax__forest_l${n++}`)