extends ../_template



block variables
	- var title = 'Parallax - Mountains'



block content
	.wrapper

		//- картинки в img
		//-.parallax#parallax
			- var n = 1
			while n < 11
				.parallax__layer
					img(src=`/assets/img/mountains/layer_${n++}.png` alt="Parallax - Mountains")

		//- картинки в бэкграунде
		.parallax#parallax
			- var n = 1
			while n < 11
				.parallax__layer
					img(src=`/assets/img/mountains/layer_${n++}.png` alt="Parallax - Mountains")